<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProyectoProgra3.Properties.Settings.DB_TSistemasConnectionString"
      connectionString="Data Source=JAIROPC;Initial Catalog=DB_TSistemas;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString"
      value="Server=JAIROPC;Database=DB_TSistemas;Trusted_Connection=True;"/>
  </appSettings>
</configuration>